:root{
   --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
   --bitcoin-orange: #F7931A ;
   --soft-orange:#FFE9D5; 
   --warm-black:#201E1C;
   --warm-black-1:#282623;
   --off-white: #FAF8F7;
   --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif;  Solo en la parte que se necesita sera este font*/
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); /* es background por que es una mezcla */

}
header img{
    width: 129px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    align-self: center;
    text-align:center;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    
}

.header--title-container p {
    color: var(--soft-orange);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 24px 0px;
}

.header--button{
    position: absolute;
    top: 270px;
    left: calc(50% - 114.5px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);

    /*Shadow*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);

    
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main{
    width: 100%;
    background-color: var(--off-white);
    min-width: 320px;
}

.main-exchange-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px; 
}

.backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-title{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
    
}
.main-exchange-container-title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 30px;
}
.main-exchange-container-title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 30px;
}