:root{
   --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
   --bitcoin-orange: #F7931A ;
   --soft-orange:#FFE9D5; 
   --warm-black:#201E1C;
   --warm-black-1:#282623;
   --off-white: #FAF8F7;
   --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif;  Solo en la parte que se necesita sera este font*/
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); /* es background por que es una mezcla */

}
header img{
    width: 129px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    align-self: center;
    text-align:center;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    
}

.header--title-container p {
    color: var(--soft-orange);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 24px 0px;
}

.header--button{
    position: absolute;
    top: 270px;
    left: calc(50% - 114.5px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);

    /*Shadow*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);

    
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main{
    width: 100%;
    background-color: var(--off-white);
    min-width: 320px;
}

.main-exchange-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px; 
}

.backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-title{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
    
}
.main-exchange-container-title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 30px;
}
.main-exchange-container-title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 30px;
}

/* tables */

/* .main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    
}

.currency-table--title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: #ff9536;
    margin-bottom: 15px;
    
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}


.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0 ;
}

.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0 ;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px  ;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0  ;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}

.down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    padding: 7px;
}

.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
} */


.main-tables-container{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-currency-table{
    width: 80%;
    height: auto;
    margin: 0 auto;

    display: flex;
        justify-content: space-between;
        align-items: center;
}

.leftArrow{
    width: 13px;
    height: 8px;

    background-image: url('./assets/icons/right-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
.rightArrow{
    width: 13px;
    height: 8px;

    background-image: url('./assets/icons/right-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container{
    width: 80%;
    height: 160px;
}

.currency-table--title p {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--bitcoin-orange);
    text-align: left;
    padding-left: 25%;
    margin-bottom: 10px;
}

.currency-table--container .table{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2px;
    
}
.currency-table--container .table >  div{
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
    display: flex;
        justify-content: flex-start;
        align-items: center;
    padding-left: 10%;
    
}
.currency-table--container .table :nth-child(even){
    display: flex;
}

.down{
    display: inline-block;
    background-image: url('./assets/icons/trending-down.svg');
    width: 20px;
    height: 20px;
    margin-left: 10px;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}
 .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}


.currency-table--container .table :nth-child(1){
    border-radius: 15px 0 0 0 ;
    
}
.currency-table--container .table :nth-child(2){
    border-radius: 0 15px 0 0 ;
    
}
.currency-table--container .table :nth-last-child(1){
    border-radius: 0 0 15px 0 ;
}
.currency-table--container .table :nth-last-child(2){
    border-radius: 0 0 0 15px ;
}


/* Feature */

.main-product-detail{
    position:relative;
    background-color: var(--warm-black);
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px
}

.main-product-detail  img{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 50px  auto 0 auto;
    text-align: center;
}


.product-detail--title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
    margin-bottom: 20px;
}

.product-detail--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 20px;
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-1);
    box-shadow: 0px 4px 8px 0px #00000029;

    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.product-detail--card .clock{
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/clock.svg');
    background-repeat: no-repeat;
}

.product-detail--card .eye{
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/eye.svg');
    background-repeat: no-repeat;
}

.product-detail--card .dollar{
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/dollar-sign.svg');
    background-repeat: no-repeat;
}

.product-detail--card .check{
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/check-circle.svg');
    background-repeat: no-repeat;
}

.product-detail--card .product--card-title{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color:var(--just-white);
    margin: 10px 0;
}

.product-detail--card .product--card-body {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
    margin: 0;
    text-align: start;
}

/* bg container  */
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* plan container */

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: #000000;
}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider{
    display:flex;
    height:316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 30px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba( 89, 73, 30, 0.16);
}



.plans-container--card .recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 14px;
    top: -15px;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 1.45px;
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;

}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca{
    width: 150px;
    height:48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;

}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}




